@import "./styles/themes.scss";

.addContactButton{
	margin-left: 20px;
	display: inline-block;
	width: auto;
	padding: 0px 20px;
	top: 29px;
}

.contactsMessage{
	  @include themify($themes) { 
	    color: themed('eccTicker');  
	  }
	position: absolute;
	width:100%;
	text-align: center;
	font-size: 15px;
	visibility: hidden;
}