@import "themes/themes.scss";


#encryptWallet{
	width: 100%;
	text-align: center;
}

.passwordInput{
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
    width: 300px;
}

#checkingWallet, #walletEncrypted, #encrypting{
	visibility: hidden;
}

.changePasswordInput{
	top: 5px;
}
