@import "./themes.scss";

.fileStorage{
	text-align: center;
	top: 20%;
	position: relative;
	@include themify($themes) { 
		color: themed('popupColor');  
	}
	
	& .fileStorage__image{
	    position: relative;
    	top: -30px;
	}

	& .fileStorage__title{
	    font-size: 26px;
    	font-weight: 300;
	}

	& .fileStorage__coming-soon{
		font-size: 19px;
    	font-weight: 600;
    	margin-top: 15px;
	}

	& .fileStorage__read-about-it{
		font-size: 18px;
	    margin-top: 20px;
	    font-weight: 500;

	    & span{
	    	text-decoration: underline;
    		@include themify($themes) { 
				color: themed('popupSpanColor');  
			}
	    	cursor: pointer;
	    }
	}

	& .fileStorage__preview{
	    font-size: 13px;
	    margin: 0 auto;
	    margin-top: 28px;
	}
}