.darker{
  color: #555d77;
}

#balance{
  margin-top: 10px;
}

.firstColumn{
  backkground-color: white;
  width: 33%;
  height: 100%;
}

.secondColumn{
  backkground-color: white;
  width: 33%;
  height: 100%;
}

.thirdColumn{
  background-color: white;
  width: 33%;
  height: 100%;
}


.homeSection{
  background-color: #1c2340;
  min-height: 170px;
  margin-top: 45px;
  margin-left: 40px;
  margin-right: 40px;
  -webkit-box-shadow: 0 4px 11px -6px black;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.inputPlaceholderUnlock{
  z-index: 0;
  text-align: center;
  top: 20px;
}


/***  Generic toggle  ***/

input.toggle {
  position: absolute;
  left: -99999px;
}
input.toggle + label {
  position: relative;
  display: inline-block;
  width: 74px;
  height: 30px;
  text-indent: -99999px;
  cursor: pointer;
  color: transparent;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 20px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition-duration: .2s;
  transition-property: background-color, border;
}
input.toggle + label:before {
  content: 'Off';
  position: absolute;
  top: 0px;
  right: 11px;
  text-indent: 0;
  font-size: 13px;
  line-height: 26px;
  color: #999;
  z-index: 3;
  text-transform: uppercase;
}
input.toggle + label:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 2;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 100px;
  transform: translate3d(0, 0, 0);
  transition-duration: .2s;
  transition-property: transform, border;
}

input.toggle:checked + label {
  background-color: orange;
  border: 2px solid orange;
}
input.toggle:checked + label:before {
  content: 'On';
  right: auto;
  left: 15px;
  color: #fff;
}
input.toggle:checked + label:after {
  border-color: #5cb85c;
  transform: translate3d(44px, 0, 0);
}

#earningsFirst{
  padding-left: 65px;
  margin-top: 7px;
}


.arrow {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 16px;
  margin-left: 15px;
  margin-top: 10px;
  height: 0px; width: 0px;
  border: 7px solid;
  border-color: 
    mediumseagreen
    mediumseagreen
    transparent
    transparent;
  transform: rotate(-45deg);
}

.arrowExpenses {
  border-color: 
    #b64500
    #b64500
    transparent
    transparent;
  transform: rotate(135deg);
  top: 1px;
}

.unconfirmedBalance{
  padding-top: 58px;
}

.stakingBalance{
  padding-top: 40px;
}

.totalBalance{
  padding-top: 25px;
}

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle--checked .react-toggle-track {
  background-color: #d09128;
}


.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #d09128;
}


.earningsFilters{
  display: inline-block; 
  cursor: pointer; 
  padding-left:20px; 
  position:relative; 
  font-size: 14px; 
  top: 104px;
  left: 13px;
}

.earningsFiltersDate{
  display: inline-block;
  padding-left: 13px;
  padding-right: 13px; 
  cursor: pointer; 
  position:relative; 
  font-size: 14px; 
  top: 107px;
}