@import "themes/themes.scss";

#importing{
	visibility: hidden;
	width: 100%;
	transform: scale(0.5);
	font-size: 20px;
	position: absolute;
	top: 100%;
}

#imported{
	visibility: hidden;
	width: 100%;
	transform: scale(0.5);
	font-size: 20px;
	position: absolute;
	top: 100%;
}

.checkmark {
  width: 45px;
  margin: 0 auto;
}
