@import "./themes/themes.scss";

.privateKey{
	margin-top: 0px;
	margin-bottom: 50px;
}

.importButtonAddress{
	margin: 0 auto !important;
	margin-top: 60px !important;
}

.importAddressPopup{
	position: absolute;
	left: 50px;
}

.importFailedPopup, .importedAddressPopup, .importingAddressPopup{
	padding-top: 50px;
}

.buttonFixPrivKey{
	position: relative !important;
	margin: 0 auto;
}

.buttonIncreaseSize{
	width: 180px !important;
	top: 70px;
}
