@import "./themes.scss";

#mainPanel{
  position: fixed;
  top: 15%;
  width: 100%;
  text-align: center;
  z-index: 10000;
}

.content{
  height: 330px;
}

#welcome{
  font-size: 30px;
}

#buttons{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50px;
}

.button{
  cursor: pointer;
}

.arrowRight{
    position: absolute;
    width: 15px;
    padding-left: 11px;
    top: 10px;
    box-sizing: content-box;
}

.arrowLeft{
    position: absolute;
    width: 15px;
    padding-left: 9px;
    top: 10px;
    box-sizing: content-box;
}

.button{
  display: inline-block;
  position: absolute;
}

#logo{
  margin-bottom: 20px;
}

polyline, circle{
  transition: all 0.3s;
}

#buttons polyline, #buttons circle{
    @include themify($themes) { 
      stroke: themed('initialSetupButtonActiveStrokeColor');  
    }
}

.intialSetupButtonInactive{
   @include themify($themes) { 
      stroke: themed('initialSetupButtonStrokeColor') !important;  
    }
}

@media screen and (max-height: 628px) {
    #mainPanel {
        top: 10%;
    }
}