@import "themes/themes.scss";

#mainPanel{
  width: 100%;
  text-align: center;
  margin: auto;
}

#welcome{
  font-size: 30px;
  font-weight: 200;
}

#buttons{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50px;
}

.arrowRight{
    position: absolute;
    width: 15px;
    padding-left: 11px;
    top: 10px;
    box-sizing: content-box;
}

.arrowLeft{
    position: absolute;
    width: 15px;
    padding-left: 9px;
    top: 10px;
    box-sizing: content-box;
}

.button{
  display: inline-block;
  position: absolute;
}

#logo{
  margin-bottom: 20px;
}
