.selectLanguageLanguageSelector{
  font-size: 22px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.dropdownLanguageSelector {
  width: 300px;
  display: inline-block;
  background-color: #181e35;
  border-radius: 5px;
  //box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 15px;
  color: #b4b7c8;
  text-align: left
}
.dropdownLanguageSelector .selectLanguageSelector {
    cursor: pointer;
    display: block;
    padding: 8px;
    background-color: transparent;
    border: 1px solid #1c2340;
}
.dropdownLanguageSelector .selectLanguageSelector i {
    font-size: 13px;
    color: #b4b7c8;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right
}
.dropdownLanguageSelector:hover {
    //box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdownLanguageSelector:active {
    background-color: #1c2340
}
.dropdownLanguageSelector.active:hover,
.dropdownLanguageSelector.active {
    //box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #1c2340
}
.dropdownLanguageSelector.active .selectLanguageSelector i {
    transform: rotate(180deg)
}
.dropdownLanguageSelector .dropdown-menuLanguageSelector {
    position: absolute;
    background-color: #181e35;
    border: 1px solid #1c2340;
    width: 100%;
    left: 0;
    margin-top: 1px;
    //box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdownLanguageSelector .dropdown-menuLanguageSelector li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdownLanguageSelector .dropdown-menuLanguageSelector {
    padding: 0;
    list-style: none
}
.dropdownLanguageSelector .dropdown-menuLanguageSelector li:hover {
    background-color: #1c2340
}
.dropdownLanguageSelector .dropdown-menuLanguageSelector li:active {
    background-color: #1c2340
}

i.fa.fa-chevron-down{
  position: relative;
  top: -18px;
}

::-webkit-scrollbar {
  width: 8px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0); 
  border-radius: 8px;
  background-color: rgba(0,0,0,0);
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(20,24,47,4);
}

.contentLanguageSelector{
  text-align: center;
}