@import "./themes.scss";

#loader {
  @include themify($themes) {
	color: themed('bigPanelTimeColor'); ;
  }
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0,0,0,0.6);

  & > div:first-child {
	margin: 0 auto;
  }

  & > .text {
	margin-top: 15px;
  }
}

.st0{fill:url(#SVGID_1_);}
.st1{fill:url(#SVGID_2_);}
.st2{fill:url(#SVGID_3_);}
.st3{fill:url(#SVGID_4_);}
.st4{fill:url(#forth_1_);}
.st5{fill:url(#third_1_);}
.st6{fill:url(#second_1_);}
.st7{fill:url(#first_1_);}
.st8{fill:url(#SVGID_5_);}
.st9{fill:url(#SVGID_6_);}
.st10{fill:url(#SVGID_7_);}
.st11{fill:url(#SVGID_8_);}

#logoLoader{
  height: 120px;
  visibility: hidden;
}

#blockIndexLoad, #updatingApp{
  visibility: hidden;
}

#updatingApp{
  margin-top: -33px;
}


#gettingReady, #blockIndexLoad, #updatingApp{
  font-size: 23px;
  visibility: hidden;
}

#loaderText{
  font-size: 23px;
}

.loadingDownloadMessage{
  font-size: 16px;
  font-weight: 400;
  visibility: hidden;
}

.loadingDownloadPercentage{
  font-size: 16px;
  font-weight: 400;
  padding-top: 5px;
  visibility: hidden;
  display: none;
}
