@import "themes/themes.scss";

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  color: rgba(255,255,255,0.8);

  & > div:first-child {
	margin: 0 auto;
  }

  & > .text {
	margin-top: 15px;
  }
}


#blockIndexLoad, #updatingApp{
  visibility: hidden;
}

#updatingApp{
  margin-top: -33px;
}


#gettingReady, #blockIndexLoad, #updatingApp{
  font-size: 23px;
  visibility: hidden;
}

#loaderText{
  font-size: 23px;
}

.loadingDownloadMessage{
  font-size: 16px;
  font-weight: 400;
  visibility: hidden;
}

.loadingDownloadPercentage{
  font-size: 16px;
  font-weight: 400;
  padding-top: 5px;
  visibility: hidden;
  display: none;
}
