@import "themes/themes.scss";

.messaging-body {
  position: relative;
  padding-bottom: 50px;
  z-index: 100;
}

.messaging-body .bottom {
  position: absolute;
  bottom: 0px;
  height: 50px;
}

.from-me {
  display: flex;
  justify-content: flex-end;
}

.username {
  font-weight: 200;
}

.emoji-picker {
  z-index: 500;
}
