@import "./themes/themes.scss";

.networkStatsChainTitle{
	font-size: 26px;
	font-weight: 300;
	transition: font-size 0.3s;
}
.percentageSyncedNetworkVal{
	font: 200 60px "Muli";
}

.percentageSyncedNetwork{
	font: 200 30px "Muli";
}

.syncedTextNetwork{
	@include themify($themes) {
    	fill: themed('bodySecondaryParagraphColor');
  	}
	font: 700 36px "Muli";
}

.enableNetwork{
	font: 600 45px "Muli";
}

.networkStatsCounter{
	@include themify($themes) {
    	color: themed('bodyParagraphColor');
  	}
}

.chainInfo p{
	@include themify($themes) {
    	color: themed('bodySecondaryParagraphColor');
  	}
}

.score-empty{
	@include themify($themes) {
    	stroke: themed('circleTrackColor');
  	}
}

#paymentChainCircle{
	@include themify($themes) {
    	stroke: themed('paymentChainCircleColor');
  	}
}

@media screen and (max-width: 1250px) {
	.networkStatsChainTitle{
		font-size: 23px;
		font-weight: 300;
	}

	.networkStatsImage{
		height: 25px !important;
	}

	.networkStatsCounter{
		font-size: 21px !important;
	}
}
