@import "themes/themes.scss";

.newsPost{
  margin: 20px 0;
  padding: 20px 25px;
  cursor: pointer;
  transition: background-color 0.25s ease;

  &:hover {
	background-color: rgba(0, 0, 0, 0.2);
  }

  .newsItemTime{
	@include themify($themes) {
	  color: themed('eccTicker');
	}
	font-size: 14px;
	padding-top: 5px;
  }

  .newsItemBody{
	@include themify($themes) {
	  color: themed('bodySecondaryParagraphColor');
	}
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 15px;
	line-height: 20px;
  }

  .newsItemTitle{
	font-size: 19px;
	font-weight: 500;
	padding-bottom: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
  }
}

.statsItem {
  padding-bottom: 15px;

  & > *:first-child {
	opacity: 0.6;
  }
}
