@import "./themes.scss";

.newsPost{
  margin: 20px 0;
  padding: 10px 25px;
  cursor: pointer;
  transition: background-color 0.25s ease;

  &:hover {
	background-color: rgba(0,0,0,0.2);
  }

  &:first-child {
	margin-top: 0px;
  }

  .newsItemTime{
	@include themify($themes) {
	  color: themed('eccTicker');
	}
	font-size: 14px;
	padding-top: 5px;
  }

  .newsItemBody{
	@include themify($themes) {
	  color: themed('bodySecondaryParagraphColor');
	}
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 15px;
	line-height: 20px;
  }

  .newsItemTitle{
	font-size: 19px;
	font-weight: 500;
	padding-bottom: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
  }
}

.statsItem{
	position:relative;
	font-size: 16px;
}

.statsItem p:first-child{
	@include themify($themes) {
		color: themed('bodySecondaryParagraphColor');
	}
	font-weight: 700;
}

.statsItem p:nth-child(2){
	@include themify($themes) {
		color: themed('newsMarketDetailsValueColor');
	}
	font-weight: 600;
  padding-bottom: 12px;
}
