@import "themes/themes.scss";

#noNotifications{
	@include themify($themes) {
		color: themed('bodyParagraphColor');
	}
	text-align: center;
	padding: 20px 0px;
	font-size: 16px;
}

.notificationItem{
	padding-top: 20px;
	padding-bottom: 10px;
	cursor: pointer;
}

.notificationItem:hover{
}

#mediumPosts{
	display: inline-block;
    font-size: 14px;
}

.notificationItem img{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

.timeNews{
	padding-left: 55px;
	font-weight: 700;
	display: block;
	font-size: 14px;
}

#notificationCounter{
	@include themify($themes) {
		background-color: themed('cardBackgroundColor');
	}
	display: inline-block;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    text-align: center;
    margin-left: 11px;
    margin-top: 10px;
    font-size: 15px;
}

#notificationCounter p{
	position: relative;
	top: 1px;
	font-size: 14px;
}

#notificationsHeaderContent{
	margin: 0 auto;
	width: max-content;
	position: relative;
}

.notificationsHeaderContentFix p{
	top: 7px
}

.newsItemBorder{
}

.newsItemRoundCorners:hover{
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.applicationUpdate img{
	display: inline-block;
	width: 17px;
	position: absolute;
	bottom: 9px;
    left: 21px;
}

.applicationUpdate{
	font-size: 15px;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    padding-top: 8px;
    padding-bottom: 6px;
   	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	cursor: pointer;
}

.applicationUpdate:hover{
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.applicationUpdateOnlyNotif{
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	position: relative;
}

.applicationUpdateOnlyNotif img{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	width: 56px;
	position: absolute;
    top: 26px;
}

.applicationUpdateOnlyNotif p{
	display: inline-block;
	font-size: 16px;
	text-align: center;
    width: 100%;
}

.applicationUpdateOnlyNotif:hover{
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

