.PopupBar{
	height: 36px;
	position: relative;
	background-image: linear-gradient(to top, #15161b, #18191f);
	box-shadow: 0 2px 4px -3px rgba(0, 0, 0, 0.74);
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__title{
    	position: absolute;
    	text-align: center;
    	width: 100%;
	    color: #cecece;
	    font-weight: 500;
	    font-size: 18px;
    }

    &__close-button{
    	z-index: 2;
    	font-size: 20px;
    	transition: all 0.2s;
    	cursor: pointer;
    	font-weight: 400;
    	width: 40px;

    	&:hover{
    		color: #c39c59;
    		transition: all 0.2s;
    	}
    }

    &__back-button{
    	width: 20px;
    	margin-left: 10px;
    	cursor: pointer;
    	height: 20px;
    	z-index: 2;

    	& g{
			fill: #cecece;
			transition: all 0.2s;
    	}

    	&:hover{

			& g{
				fill: #c39c59;
				transition: all 0.2s;
			}
		}
    }
}
