@import "./themes.scss";

.Receive{
	&__header{
		text-align: center;
		position: relative;
		top: 25px;
		font-size: 14px;

		& span{
			@include themify($themes) {
				color: themed('bodySecondaryParagraphColor');
			}
			padding: 0px 20px;
		}
	}

	&__form{
		width: 750px;
		margin: 0 auto;
		position: relative;
		margin-top: 60px;
	}

	&__form-wrapper{
		display: flex;
	    justify-content: space-between;
	}

	&__ans-explanation{
		@include themify($themes) {
			color: themed('bodySecondaryParagraphColor');
		}
		display: inline-block;
		font-size: 14px;
		position: relative;
	}

	&__form-confirm-btn{
		margin: 0px 0px;
	}
}

.inputPlaceholderReceive{
	z-index: 0;
	text-align: left !important;
	top: 5px;
}


.typeSelectorReceive{
	display: inline-block;
	cursor: pointer;
}


#tableFiltersReceive{
	position: absolute;
	width: 100%;
	top: 36px;
	right:4%;
	text-align: right;
}

.tableFilterReceive{
	padding-top: 1px;
	font-size: 14px;
	display: inline-block;
	cursor: pointer;
}

.fixMarginReceive{
	margin-left: 30px;
}

.headerAddresses{
	position: relative;
	font-size: 14px;
	padding-top: 16px;
}

.headerAddressFix{
	padding-left: 5%;
}

.tableColumnFixReceive{
	padding-left: 5%;
}

#imageAns{
	position: relative;
	top: 55px;
}

.ansLabel{
	@include themify($themes) {
		color: themed('bodySecondaryParagraphColor');
	}
	font-size: 14px;
	display: inline-block;
	margin-left: 10px;
	position: relative;
	top: 2px;
	font-weight: 700;
}

#addressCreatedSuccessfully{
	@include themify($themes) {
		color: themed('popupMessageText');
	}
	font-size: 15px;
	display: inline-block;
	position: absolute;
	top: 2px;
	width:100%;
	text-align: center;
	visibility: hidden;
}

#addressCreatedSuccessfully span{
	cursor: pointer;
	text-decoration: underline;
}

#upgradeAns{
	@include themify($themes) {
		color: themed('textSelected');
	}
	font-size: 13px;
	display: inline-block;
	cursor: pointer;
}

.confirmationText{
	font-size: 16px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-weight: 500;
	margin-top:30px;
}

.Receive__ans-code{
	font-size: 12px;
    font-weight: bold;
    color: #2e2e3a;
}

.Receive__upgrade-text{
	display: inline-block;
	position: absolute;
    right: 0px;
    font-size: 14px;
    cursor: pointer;
    padding-top: 3px;
	@include themify($themes) {
		color: themed('textSelected');
	}
}
