@import "./themes.scss";

.Send{

	&__form{
		margin: 0px auto;
	  	margin-bottom: 25px;
		display: flex;
    	justify-content: space-between;
	    position: relative;
		top: 70px;
		max-width: 650px;
	}

	&__form-buttons{
		display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    align-items: center;
	}

	&__form-clear-btn{
		display: block;
		cursor: pointer;
		z-index: 2;
	    margin-top: 12px;
	}

	&__inputs-wrapper{
		width: 70%;
	}

	&__form-confirm-btn{
		padding: 0px 45px;
	}

	&__message-status{
		@include themify($themes) {
			color: themed('eccTicker');
		}
		position: relative;
		text-align: center;
		font-size: 15px;
		visibility: hidden;
		top: 65px;
	}
}

#rows{
	overflow-y: scroll;
	overflow-x: hidden;
}


.tableColumContactFix{
	padding-left: 10%;
}

.deleteContactIcon{
	cursor: pointer;
	width: 20px;
}

.inputSend{
	width: 400px;
	top: 20px;
	margin-bottom: 30px;
}

#pleaseTypePassword{
	@include themify($themes) {
		color: themed('bodyParagraphColor');
	}
	font-size: 16px;
	width: 400px;
	text-align: center;
	margin: 0 auto;
	padding-top: 25px;
}

.labelSend{
	@include themify($themes) {
		color: themed('bodyParagraphColor');
	}
	font-size: 16px;
	width: 400px;
	text-align: left;
	margin: 0 auto;
	padding-top: 10px;
}

.labelAddressSend{
	@include themify($themes) {
		color: themed('bodySecondaryParagraphColor');
	}
	font-size: 14px;
	width: 400px;
	text-align: left;
	margin: 0 auto;
	padding-top: 10px;
	font-weight: 600;
}

.labelAmountSend{
	@include themify($themes) {
		color: themed('bodyParagraphColor');
	}
	font-size: 16px;
	width: 400px;
	text-align: left;
	margin: 0 auto;
	padding-top: 25px;
}

.ansAddressesList{
    border-radius: 14px;
    @include themify($themes) {
        background-color: themed('homePanelsBackgroundColor');
    }
    width: 320px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
    overflow: auto;

}

.ansAddressesList-item{
	margin: 10px 0px;
	font-size: 15px;
	cursor: pointer;
}

.multipleAddresses {
	width: 450px;
    font-size: 15px;
    text-align: justify;
    margin: 0 auto;
    margin-top: 20px;
}
