#rows{
	overflow-y: scroll;
	overflow-x: hidden;
}

.sendPlaceholder{
	position:relative;
	top: 85px;
	width: 80%;
	text-align: left;
	color: #555d77;
	font-size: 15px;
	font-weight: 600;
	left: 2px;
}
.sendPlaceholderAmount{
	top: 60px;
}

.sendButton{
	display: inline-block;
	text-align: center;
	position: relative;
	top: 27px;
	left: 20px;
}

#message{
	position: relative;
	text-align: center;
	color: #d09128;
	font-size: 15px;
	visibility: hidden;
	top: 65px;
}

#clearButton{
	position: relative;
	top: 67px;
	left: 50%;
	margin-left: -38%;
	cursor: pointer;
	z-index: 2;
}

.tableColumContactFix{
	padding-left: 10%;
}

.deleteContactIcon{
	cursor: pointer;
	width: 20px;
}

.rowContact{
	font-size: 15px;
	color: #9099b7;
	height: 40px;
}

.inputSend{
	width: 400px;
	top: 20px;
	margin-bottom: 30px;
}

#pleaseTypePassword{
	font-size: 16px;
	color: #b4b7c8;
	width: 400px;
	text-align: center;
	margin: 0 auto;
	padding-top: 25px;
}

.labelSend{
	font-size: 16px;
	color: #b4b7c8;
	width: 400px;
	text-align: left;
	margin: 0 auto;
	padding-top: 10px;
}

.labelAddressSend{
	color: #555d77;
	font-size: 14px;
	width: 400px;
	text-align: left;
	margin: 0 auto;
	padding-top: 10px;
	font-weight: 600;
}

.labelAmountSend{
	font-size: 16px;
	color: #b4b7c8;
	width: 400px;
	text-align: left;
	margin: 0 auto;
	padding-top: 25px;
}