.sidebar {
  width: 224px;
  position: fixed;
  left: 0;
  background-color: #1c2340;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  font-weight: normal;
  transition: left 0.3s;
  z-index: 3;
  margin-top: 40px;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2)
}

.sidebarlist {
  margin-top: 25px;
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.arrowMenu {
  height: 9px; 
  width: 9px;
  border: 1px solid #6f7a97;
  border-width: 3px 3px 0 0;
  transform: rotate(135deg);
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.3s;
}

ul.sidebar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  margin-top: 50px;
  transition: margin-top 0.3s;
}
.sidebar-menu li a span {
  margin-right: 20px;
  color: #b4b7c8;
  position: relative;
  width: auto;
  left: auto;
}
.sidebar-menu li a  {
  padding: 13px 25px;
  display: block;
  text-decoration: none;
  color: #b4b7c8;
  cursor: pointer;
}
li.have-children ul {
  padding: 0px;
} 
li.have-children ul li a {
  background-color: #181e35;
  padding-left: 74px;
} 

li.have-children, li {
  position: relative;
}

li.active.have-children span::after {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar-menu .have-children > ul {
    display: none;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border-top: .4rem solid black;
  border-right: .4rem solid black;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
  
  &.left {
    left: 0;
    transform: translate3d(0,-50%,0) rotate(-135deg);
  }

  &.right {
    right: 0;
    transform: translate3d(0,-50%,0) rotate(45deg);
  }
  
  &:hover {
    border-top: .4rem solid orange;
    border-right: .4rem solid orange;
    box-shadow: .2rem -.2rem 0 black;

    &.left {
      left: -.2rem;
    }

    &.right {
      right: -.2rem;
    }
  }
}

.userimage {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  transition: all 0.3s;
}

.connections {
  position: absolute; 
  bottom: 50px; 
  width: 100%;
  z-index: 10;
  text-align: center;
  font-size: 0.8em;
  color: #fff;
}

.connections p {
  margin-bottom: 2.5px;
  margin-top: 2.5px;
}

.custom_progress {
  height: 10px !important;
  border-radius: 10px !important;
  width: 90% !important;
  margin-left: 5% !important;
  margin-bottom: 2.5px !important;
}


.sidebarImage{
  position: absolute;
  top: 16px;
  left: 45px;
}

.progress {
    margin: 10px;
    height: 8px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.35);
    overflow: visible;
    width: 162px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bar {
    height: 7px;
    box-shadow: 0px 0px 7px 0px #d09128;
    border-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-height: 730px) {
    .userimage{
      opacity: 0;
    }

    ul.sidebar-menu{
      margin-top: -150px;
    }
}

.fixLink{
  padding: 0 0 !important;
  text-decoration: none !important;
}