@import "./themes.scss";

#main {
  & > .wrapper {
	margin-top: 40px;
  }
}

#page {
  display: flex;
  min-height: calc(100vh - 40px);

  /* Sidebar */
  & > .sidebar {
	@include themify($themes) {
	  background-color: themed('sidebarBackgroundColor');
	  box-shadow: themed('sidebarBoxShadow');
	}
	position: fixed;
	left: 0;
	width: 225px;
	height: calc(100vh - 40px);
	overflow-y: auto;
	overflow-x: hidden;
	font-weight: normal;
	transition: transform 0.3s;
	transform: translateX(0px);
	z-index: 5;
	flex: 0;

	&.hide {
	  transform: translateX(-100%);
	  flex: 0;
	}

	@media screen and (min-width: 1024px) {
	  & + .container-fluid {
		margin-left: 225px;
	  }

	  &.hide + .container-fluid {
		margin-left: 0px;
	  }
	}

	/* Navigation items */
	.menu {
	  margin-top: 50px;

	  /* Each group of nav items */
	  & > ul {
		margin: 0 0 40px 0;
		padding: 0;
		list-style: none;

		&:last-child {
		  margin-bottom: 0px;
		}

		/* (Sub)heading for group */
		.subheading {
		  padding: 5px 25px;
		  text-transform: uppercase;
		  font-weight: 800;
		  font-size:0.8em;
		}

		/* Link items */
		a {
		  @include themify($themes) {
			color: themed('sidebarItemColor');
		  }
		  display: block;
		  padding: 10px 50px 10px 25px;
		  position: relative;
		  transition: background-color 0.3s ease;
		  text-decoration: none;

		  svg, img {
			position: absolute;
			right:25px;
			top:0;
			bottom:0;
			margin: auto;
		  }
		}

		a:not(.subheading):hover, a.active {
		  @include themify($themes) {
			background-color: themed('sidebarSubOptionRectangleBackgroundColor');
			color: themed('sidebarSelectedItemColor') !important;
		  }
		}
	  }
	}
  }

  & > .container-fluid {
	flex: 1 1 auto;
	margin: 0;
	padding: 0;
	transition: margin-left 0.4s ease;
	position:relative;

	& > main > * {
	  position:absolute;
	  top:0;
	  left:0;
	  right:0;
	  bottom:0;
	  overflow: auto;
	}
  }
}

.userimage {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  transition: all 0.3s;
}

.connections {
  @include themify($themes) {
    color: themed('bodyParagraphColor');
  }
  position: absolute;
  bottom: 50px;
  width: 100%;
  z-index: 10;
  text-align: center;
  font-size: 0.8em;
}

.connections p {
  margin-bottom: 2.5px;
  margin-top: 2.5px;
}

.custom_progress {
  height: 10px !important;
  border-radius: 10px !important;
  width: 90% !important;
  margin-left: 5% !important;
  margin-bottom: 2.5px !important;
}


.sidebarImage{
  position: absolute;
  top: 19px;
  left: 45px;
}

.progress {
    @include themify($themes) {
      background-color: themed('sidebarProgressBarFirstBackgroundColor');
    }
    margin: 10px;
    height: 6px;
    border-radius: 5px;
    overflow: visible;
    width: 162px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bar {
    @include themify($themes) {
      background-color: themed('sidebarProgressBarBackgroundColor');
      box-shadow: themed('sidebarProgressBarBoxShadow');
    }
    height: 6px;
    border-radius: 5px;
    border-bottom-right-radius: 5px;
}


@media screen and (max-height: 730px) {
    .userimage{
      opacity: 0;
    }

    ul.sidebar-menu{
      margin-top: -150px;
    }
}

.fixLink{
  padding: 0 0 !important;
  text-decoration: none !important;
}
