@import "themes/themes.scss";

#page {
  display: flex;
  height: 100vh;

  & > div:nth-child(2) {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	height: 100vh;
  }

  /* Sections */
  .sections {
	@include themify($themes) {
	  background-color: themed('sectionsBackground');
	}
	flex: 0 0 60px;
	height: 100vh;
	overflow-y: auto;
	overflow-x: visible;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top:40px;
	transition: background-color 0.25s ease;

	& > div:nth-child(1) {
	  a {
		margin-bottom: 20px;
	  }
	}

	& > div:nth-child(2) {
	  padding-bottom:10px;
	  a {
		margin-top: 20px;
	  }
	}

	a {
	  @include themify($themes) {
		color: themed('sectionsHrefColor');
	  }
	  display:block;
	  text-align:center;
	  position:relative;
	  padding: 5px 0px;
	  cursor: pointer;

	  &:before {
		content: '';
		position: absolute;
		border-radius: 0px 3px 3px 0px;
		left:0;
		top:0;
		bottom:0;
		background-color:transparent;
		width:0px;
		transition: background-color 0.25s ease, width 0.5s ease;
	  }

	  &:hover {
		@include themify($themes) {
		  color: themed('sectionsHrefHoverColor');
		}
	  }

	  &.highlight {
		color: #cba051;
	  }

	  &.active {
		@include themify($themes) {
		  color: themed('sectionsActiveColor') !important;
		}

		&:before {
		  width: 3px;
		  @include themify($themes) {
			background-color: themed('sectionsActiveColor');
		  }
		}
	  }
	}
  }

  /* Sidebar */
  .sidebar {
	@include themify($themes) {
	  background-color: themed('sidebarBackgroundColor');
	}
	box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	font-weight: normal;
	transition: transform 0.3s, background-color 0.25s ease, color 0.25s ease;
	transform: translateX(0px);
	z-index: 5;
	flex: 0 0 225px;

	&.hide {
	  transform: translateX(-100%);
	  flex: 0;
	}

	/* Navigation items */
	.menu {
	  margin-top: 50px;

	  /* Each group of nav items */
	  & > ul {
		margin: 0 0 40px 0;
		padding: 0;
		list-style: none;

		&:last-child {
		  margin-bottom: 0px;
		}

		/* (Sub)heading for group */
		.subheading {
		  opacity: 0.6;
		  padding: 5px 25px;
		  text-transform: uppercase;
		  font-weight: 800;
		  font-size:0.8em;
		}

		/* Link items */
		a {
		  @include themify($themes) {
			color: themed('sidebarItemColor');
		  }
		  display: block;
		  padding: 10px 50px 10px 25px;
		  position: relative;
		  transition: background-color 0.3s ease;
		  text-decoration: none;
		  cursor: pointer;

		  svg, img {
			position: absolute;
			right:25px;
			top:0;
			bottom:0;
			margin: auto;

			&.left-align {
			  position: relative;
			  right:0;
			  top:-1px;
			  margin-right: 10px;
			}
		  }
		}

		a:not(.subheading):hover, a.active {
		  @include themify($themes) {
			background-color: themed('sidebarHoverBackgroundColor');
			color: themed('sidebarSelectedItemColor') !important;
		  }
		}
	  }
	}

	.social{
	  width: 100%;
	  margin-top: 30px;
	  margin-left: 10px;

	  & > .mdi-icon {
		margin-right: 15px;
		cursor: pointer;

		&:hover {
		  color: #fff;
		}
	  }
	}
  }

  .right-sidebar {
	@include themify($themes) {
	  background-color: themed('rightSidebarBackgroundColor');
	}
	flex: 0 0 280px;
	padding-top:40px;
  }

  .container-fluid {
	display: flex;
	flex-direction: column;
	position: relative;

	&.with-right {
	  padding-right: 0px;
	}
  }
}

.userimage {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  transition: all 0.3s;
}

.connections {
  @include themify($themes) {
    color: themed('bodyParagraphColor');
  }
  padding: 50px 10px 20px 10px;
  text-align: center;
  font-size: 0.8em;
}

.connections p {
  margin-bottom: 2.5px;
  margin-top: 2.5px;
}

.custom_progress {
  height: 10px !important;
  border-radius: 10px !important;
  width: 90% !important;
  margin-left: 5% !important;
  margin-bottom: 2.5px !important;
}


.sidebarImage{
  position: absolute;
  top: 19px;
  left: 45px;
}

.fixLink{
  padding: 0 0 !important;
  text-decoration: none !important;
}

.loader {
	@include themify($themes) {
		background-color: themed('sidebarBackgroundColor');
	    box-shadow: themed('cardBoxShadow');
	}
	margin: 15px;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1000000;
	padding: 5px;
	border-radius: 10px;
}
.loader-content {
	display: flex;
	flex-wrap: nowrap;
	align-items:center;
	padding: 8px;
}

.loader-message {
	/*padding: 10px;*/ 
	margin:0 20px 0 10px;
}
.loader-message > p {
	font-weight: lighter
}
