@import "themes/themes.scss";
/*
#rows{
  width: 100%;
  padding: 0 0
 
}
*/

#rows{
  width: 98%;
  padding: 0 15px;
  border-radius: 10px;
  margin: 3px 0;
  @include themify($themes) {
    background-color: themed('cardBackgroundColor');
  }
}

.tableHeaderNormal{
  width: 100%;
  height:46px;
  position: relative;
  z-index: 4;
}

.tableHeaderBig{
  height:67px;
}

.tableHeaderTitle{
  padding-top: 4px;
  padding-left: 5%;
  font-size: 23px;
  font-weight: normal;
}

.tableHeaderTitleSmall{
  padding-top: 7px;
  padding-left: 5%;
}

.tableContainer{
  width: 100%;
  margin-top: 5px;
  padding: 0 0;
}

.rowDynamic{
  height: 55px;
  margin: 0 0;
  width: 100%;
  /*box-shadow: 0 2px 4px -3px rgba(0, 0, 0, 0.74);*/
  align-items:center;
}

.tableRowCustom{
  cursor: pointer;
  font-size: 15px;
  @include themify($themes) {
    border-color:themed('bodyBackgroundColor');
    color: themed('bodyParagraphColor');
  }
  margin: 0 0;
  width: 100%;
  min-height: 40px;
 /* box-shadow: 0 2px 4px -3px rgba(0, 0, 0, 0.74);*/
}

.tableRowCustom:active{
}

.tableRowCustom:hover{
  @include themify($themes) {
    border-color:themed('cardItemSelectedBackgroundColor');
    color: themed('sidebarSelectedItemColor');
  }
}
.tableRowCustomTransactions{
  height: auto;
  align-items: center;
  min-height:70px;
}

.tableRowHeader{
  @include themify($themes) {
    text-transform: uppercase;
  }
}

.tableRowSubText{
  @include themify($themes) {
  }
}

.headerDescription{
  font-size: 14px;
  font-weight: 600;
}

.tableCustom{
  box-shadow: 0 2px 4px -3px rgba(0, 0, 0, 0.74);

  @include themify($themes) {
    background-color: themed('cardBackgroundColor');
  }

  .selected {
	@include themify($themes) {
	  background-color: themed('cardItemSelectedBackgroundColor');
	}
  }
}

.tableRowEven{
/*
  @include themify($themes) {
    background-color: themed('tableRowEven');
  }
  */
}

.extraInfoTransaction{
  margin:0;
}

.extraInfoTransaction:hover{
  @include themify($themes) {
    /*background-color: themed('tableBackgroundColor');*/
  }
}

.tableRowSelected{
  @include themify($themes) {
    background-color: themed('cardItemSelectedBackgroundColor');
  }
}

.tableColumn{
  padding-top: 9px;
}
