$themes: (
  defaultEcc: (
    //BODY
    bodyBackgroundColor: #181e35,
    bodyParagraphColor: #b4b7c8,
    //bodyParagraphColor: #c5c9da
    bodySecondaryParagraphColor: #555d77,

    //TOPBAR
    topBarBackgroundColor: #14182f,
    topBarFunctionIconHover: #b4b7c8,

    //TABLES
    tableBackgroundColor: #1c2340,
    tableHeaderColorTitle: #b4b7c8,
    tableHeaderBoxShadow: 0 2px 4px -3px rgba(0, 0, 0, 0.74),
    tableHeaderDescription: #555d77,
    tableRowEven: #1b223d,
    tableRowSelected: #212136,
    tableRowColor: #9099b7,
    //tableRowColor: #acb0bd,
    tableRowHeaderColor: #555d77,

    //HOME PANEL
    homePanelsBackgroundColor: #1c2340,
    homeTextSelectable: #85899e,
    homePanelTitleOneColor: #b4b7c8,
    homePanelTitleTwo: #555d77,
    homePanelToggleTrueBackgroundColor: #d09128,
    homePanelToggleFalseBackgroundColor: #4D4D4D,
    homePanelToggleThumbBackgroundColor: #FAFAFA,

    //SIDEBAR
    sidebarBackgroundColor: #1c2340,
    sidebarBoxShadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2),
    sidebarSelectedItemColor: #d09128,
    sidebarItemColor: #b4b7c8,
    sidebarSubOptionRectangleBackgroundColor: #181e35,
    sidebarArrowBorder: 1px solid #6f7a97,
    sidebarProgressBarBackgroundColor: #d09128,
    sidebarProgressBarBoxShadow: 0px 0px 7px 0px #d09128,
    sidebarProgressBarFirstBackgroundColor: rgba(0, 0, 0, 0.35),

    //NEWS PANEL
    newsArrowInactive: 1px solid #2a3042,
    newsItemBorderBottom: 1px solid #222a4c,
    newsMarketDetailsValueColor: #b4b7c8,
    newsMarkerDetailsSplitterBorderRight: 1px solid #fff,

    //SETTINGS PANEL
    settingsTitleColor: #5e606a,
    settingsSubTitleColor: #9296b0,
    settingsSubTitleActiveColor: #ffffff,
    settinsSubTitleActiveBackgroundColor: rgba(0, 0, 0, 0.09),
    settinsSubTitleSelectedBackgroundColor: #d09128,
    settingsSidebarBackgroundColor: #1c2340,
    settingsSidebarBoxShadow: 3px 0px 6px -4px #000,
    settingsRightPanelBackgroundColor: #181e35,
    settingsItemBorderBottom: 1px solid #1c2340,
    settingsHelpTranslateTitleColor: #5a5d6f,
    settingsToggleDescriptionColor: #777b90,
    settingsHelTranslateBackgroundColor: #14182f,

    //NOTIFICATION POPUP
    notificationsBackgroundColor: #14182f,
    notificationsBoxShadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2),
    notificationsArrowBorderBottom: .75rem solid #121529,
    notificationsHeaderBackgroundColor: #121529,
    notificationsItemHoverBackgroundColor: #101325,
    notificationsPayServiceBackgroundColor: rgba(20, 24, 47, 0.9),
    notificationsPayServiceButtonBorder: 1px solid #d09128,

    //POPUP
    popupBackgroundColor: #14182f,
    popupBoxShadow: 0px 0px 13px -2px black,
    popupCloseButtonBorder: 2px solid #6a6c75,
    popupCloseButtonHoverBackgroundColor: #0f1223,
    popupTitleFontWeight: 600,

    //NETWORK STATS
    circleTrackColor: #14182f,

    //INPUT
    inputPlaceHolderColor: #555d77,
    inputColor: #555d77,
    inputBorderBottom: 2px solid #1c2340,
    inputBorderBottomHighlight: 2px solid #d09128,

    //MISC
    textSelected: #aeacf3,
    popupMessageText: #d09128,
    eccTicker: #d09128,
    mainElementBoxShadow: 0 4px 11px -6px black,

    bigPanelTimeColor: #1f2642,
    manchaBackgroundColor: rgba(0,0,0,0.7),

    //FULL BUTTON
    fullButtonBackground: -webkit-linear-gradient(top, rgb(214, 167, 91) 0%, rgb(162, 109, 22) 100%),
    fullButtonColor: #d9daef,

    //BORDERED BUTTON
    buttonBorder: 2px solid #d09128,
    buttonBorderedHoverColor: #d09128,
    buttonBorderedFontColor: #ffffff,

    //SCROLLBAR
    scrollbarTrackBoxShadow: inset 0 0 0px rgba(0,0,0,0),
    scrollbarTrackBackgroundColor: rgba(0,0,0,0),
    scrollbarThumbBackgroundColor: rgba(20,24,47,4),

    //TRANSACTIONS FILTER
    transactionsFilterBackgroundColor: #181e35,
    transactionsFilterBorder: 1px solid #22252d,

    //INITIAL SETUP
    initialSetupButtonStrokeColor: #212a4c,
    initialSetupButtonActiveStrokeColor: #d09128,

    //MESSAGING
    ownMessagingBackgroundColor: #2b365f,
    notOwnMessagingBackgroundColor: #202846,
    chatPreviewActiveBackgroundColor: #161c31,
    chatPreviewColor: #b4b7c8,
    messageTimeColor: #b4b7c8,
    popupColor: #cecece,
    popupSpanColor: #989898,

  ),
  darkEcc: (
    //BODY
    bodyBackgroundColor: #1c1c23,
    bodyParagraphColor: #cecece,
    bodySecondaryParagraphColor: #464b5a,

    //TOPBAR
    topBarBackgroundColor: #121212,
    topBarFunctionIconHover: #24272f,

    //TABLES
    tableBackgroundColor: #191b21,
    tableHeaderColorTitle: #b9b9b9,
    tableHeaderBoxShadow: 0 2px 4px -3px rgba(0, 0, 0, 0.74),
    tableHeaderDescription: #464b5a,
    tableRowEven: #181a1f,
    tableRowSelected: #1a1d23,
    tableRowColor: #bfbfbf,
    tableRowHeaderColor: #464b5a,

    //HOME PANEL
    homePanelsBackgroundColor: #191b21,
    homeTextSelectable: #85899e,
    homePanelTitleOneColor: #cecece,
    homePanelTitleTwo: #464b5a,
    homePanelToggleTrueBackgroundColor: #c39c59,
    homePanelToggleFalseBackgroundColor: #4D4D4D,
    homePanelToggleThumbBackgroundColor: #FAFAFA,

    //SIDEBAR
    sidebarBackgroundColor: #191b21,
    sidebarBoxShadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2),
    sidebarSelectedItemColor: #c39c59,
    sidebarItemColor: #cecece,
    sidebarSubOptionRectangleBackgroundColor: #1a1c23,
    sidebarArrowBorder: 1px solid #cecece,
    sidebarProgressBarBackgroundColor: #c39c59,
    sidebarProgressBarBoxShadow: 0px 0px 7px 0px #c39c59,
    sidebarProgressBarFirstBackgroundColor: rgba(0, 0, 0, 0.35),

    //NEWS PANEL
    newsArrowInactive: 1px solid #2a3042,
    newsItemBorderBottom: 1px solid #22252d,
    newsMarketDetailsValueColor: #cecece,
    newsMarkerDetailsSplitterBorderRight: 1px solid #fff,

    //SETTINGS PANEL
    settingsTitleColor: #5e606a,
    settingsSubTitleColor: #cecece,
    settingsSubTitleActiveColor: #ffffff,
    settinsSubTitleActiveBackgroundColor: rgba(0, 0, 0, 0.09),
    settinsSubTitleSelectedBackgroundColor: #c39c59,
    settingsSidebarBackgroundColor: #22252d,
    settingsSidebarBoxShadow: 3px 0px 6px -4px #000,
    settingsRightPanelBackgroundColor: #1c1c23,
    settingsItemBorderBottom: 1px solid #22252d,
    settingsHelpTranslateTitleColor: #5a5d6f,
    settingsToggleDescriptionColor: #777b90,
    settingsHelTranslateBackgroundColor: #171717,

    //NOTIFICATION POPUP
    notificationsBackgroundColor: #17171d,
    notificationsBoxShadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.55),
    notificationsArrowBorderBottom: .75rem solid #121212,
    notificationsHeaderBackgroundColor: #121212,
    notificationsItemHoverBackgroundColor: #1c1c23,
    notificationsPayServiceBackgroundColor: rgba(28, 28, 35, 0.6),
    notificationsPayServiceButtonBorder: 1px solid #c39c59,

    //POPUP
    popupBackgroundColor: #15161b,
    popupBoxShadow: 0px 0px 13px -2px black,
    popupCloseButtonBorder: 2px solid #6a6c75,
    popupCloseButtonHoverBackgroundColor: #0f1223,
    popupTitleFontWeight: 500,

    //NETWORK STATS
    circleTrackColor: #16181d,

    //INPUT
    inputPlaceHolderColor: #464b5a,
    inputColor: #cecece,
    inputBorderBottom: 2px solid #22252d,
    inputBorderBottomHighlight: 2px solid #c39c59,

    //MISC
    textSelected: #59aac3,
    popupMessageText: #c39c59,
    eccTicker: #c39c59,
    mainElementBoxShadow: 0 4px 11px -6px black,

    bigPanelTimeColor: #252831,
    manchaBackgroundColor: rgba(0,0,0,0.7),

    //FULL BUTTON
    fullButtonBackground: -webkit-linear-gradient(top, #dcb472 0%, #bd8c39 100%),
    fullButtonColor: #d9daef,

    //BORDERED BUTTON
    buttonBorder: 2px solid #c39c59,
    buttonBorderedHoverColor: #c39c59,
    buttonBorderedFontColor: #ffffff,

    //SCROLLBAR
    scrollbarTrackBoxShadow: inset 0 0 0px rgba(0,0,0,0),
    scrollbarTrackBackgroundColor: rgba(0,0,0,0),
    scrollbarThumbBackgroundColor: #14161b,

    //TRANSACTIONS FILTER
    transactionsFilterBackgroundColor: #15171d,
    transactionsFilterBorder: 1px solid #13151b,

    //INITIAL SETUP
    initialSetupButtonStrokeColor: #464b5a,
    initialSetupButtonActiveStrokeColor: #c39c59,

    //MESSAGING
    ownMessagingBackgroundColor: #292b35,
    notOwnMessagingBackgroundColor: #1e2027,
    chatPreviewActiveBackgroundColor: #191b21,
    chatPreviewColor: #7d7d7d,
    messageTimeColor: #6d6d6d,
    popupColor: #b0b0b0,
    popupSpanColor: #989898,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}