
.divSquare{
  width:15px; 
  height:15px; 
  float: left
}
.theme{
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  margin: 0 auto;
}

.themeName{
  padding-top: 22px;
  font-size: 16px;
  font-weight: 400;
}

.content{
  text-align: center;
}

.themeSelector{
  display: inline-block;
  margin: 0 40px;
  cursor: pointer;
}

#darkTheme, #lightTheme, #defaultTheme{
  opacity: 0.6;
}

#darkTheme:hover, #lightTheme:hover, #defaultTheme:hover{
  opacity: 1;
}

.selectedTheme{
  opacity: 1 !important;
}
