.appButtonMac img{
	width: 12px;
}

#appButtonsMac{
	position: fixed;
    z-index: 2;
    height: 40px;
    top: 5px;
    left: 20px;
    -webkit-app-region: no-drag;
    transition: .3s left;
}

.appButtonMac{
	display: inline-block;
    width: 20px;
    height: 100%;
}