.transactions {
  padding-top: 5px;
  position: relative;
}

.transactions .panel-body {
  height: 90vh;
}

.transactions .bottomButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transactions .btn_load_more {
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  background-color: #efefef;
  color: #000;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.transactions .btn_load_less {
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  background-color: #efefef;
  color: #000;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
  border: 1px solid rgba(0,0,0,0.4);
}

.-grey-btn-hover {
  background-color: #efefef;
  transition: background-color 0.01s linear;
}

.-grey-btn-hover:hover {
  background-color: #f3f3f3;
}

.-grey-btn-hover:active {
  background-color: #efefef;
}

.transactions .selectfield {
  position: absolute;
  right: 35px;
  top: 5px;
  width: 100px;
}

.transactions .selectfield select {
  font-size: 0.9em;
}

.transactions_table {
  margin-top: 20px;
  overflow-y: auto;
}

.transactions .title {
  font-size: 1.1em;
  font-weight: 700;
}

.transactions_table .desc1 {
  font-size: 1em;
}

.transactions_table .desc2 {
  font-size: 0.9em !important;
  color: #757575 !important;
}

.transactions_table .desc3 {
  font-size: 0.9em;
}

.transactions_table .desc_p {
  font-size: 1em;
  color: #ffc107;
}

.transactions_table .desc_c {
  font-size: 1em;
  color: #4caf50;
}

.transactions_table .desc_o {
  font-size: 1em;
  color: #f44336;
}

.transactions_table .header {
  font-weight: 400;
  margin-bottom: 0px;
}

.transactions_table .stripped {
  background-color: #fafafa;

}

.transactions_table .trans_row {
  cursor: pointer;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.transactions_table .trans_col {
  padding: 10px !important;
}

.transactions_table .trans_bottom {
  border-top: 1px solid rgba(0,0,0,0.1);
  cursor: default !important;
  display: none;
}


.buttonTransaction{
  position: relative;
  bottom: -36px;
  border: 2px solid #a5721f;
  display: inline-block;
  padding: 6px 0px;
  min-width: 110px;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  font-weight: 600;
}

.buttonTransaction:hover{
  background-color: #181e35;
}

.dropdownFilterSelector {
  width: 300px;
  display: inline-block;
  background-color: #181e35;
  border-radius: 5px;
  //box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 15px;
  color: #b4b7c8;
  text-align: left
}
.dropdownFilterSelector .selectFilterSelector {
    cursor: pointer;
    display: block;
    padding: 6px;
    background-color: transparent;
}
.dropdownFilterSelector .selectFilterSelector i {
    font-size: 13px;
    color: #b4b7c8;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right
}
.dropdownFilterSelector:hover {
    //box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdownFilterSelector.active .selectFilterSelector i {
    transform: rotate(180deg)
}
.dropdownFilterSelector .dropdown-menuFilterSelector {
    position: absolute;
    background-color: #181e35;
    border: 1px solid #1c2340;
    width: 100%;
    left: 0;
    margin-top: 1px;
    //box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: scroll;
    z-index: 9
}
.dropdownFilterSelector .dropdown-menuFilterSelector li {
    padding: 8px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdownFilterSelector .dropdown-menuFilterSelector {
    padding: 0;
    list-style: none
}
.dropdownFilterSelector .dropdown-menuFilterSelector li:hover {
    background-color: #1c2340
}
.dropdownFilterSelector .dropdown-menuFilterSelector li:active {
    background-color: #1c2340
}

i.fa.fa-chevron-down{
  position: relative;
  top: -18px;
  right: 5px;
}

@media screen and (max-width: 1200px) {
    .transactionId {
        font-size: 13px;
        font-weight: 600;
    }
    .transactionAddress{
        font-size: 13px;
        font-weight: 600;
    }
}