@import "./themes/themes.scss";

.transactionInfoTitle{
  @include themify($themes) {
    color: themed('bodySecondaryParagraphColor');
  }
  font-weight: 600;
}

.icon-action{
  @include themify($themes) {
    color: themed('bodySecondaryParagraphColor');
  }
  cursor:pointer;
}

.icon-action:hover{
   @include themify($themes) {
     color: themed('bodyParagraphColor');
  }
}

.transactions {
  padding-top: 5px;
  position: relative;
}

.columnPaddingFixAns{
  padding-left: 35px;
}

.dropdownFilterSelector {
  @include themify($themes) {
    color: themed('bodyParagraphColor');
  }
  width: 300px;
  display: inline-block;
  border-radius: 5px;
  //box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 15px;
  text-align: left
}

.dropdownFilterSelector .selectFilterSelector {
    cursor: pointer;
    display: block;
    padding: 6px;
    background-color: transparent;
}

.dropdownFilterSelector .selectFilterSelector i {
    @include themify($themes) {
      color: themed('bodyParagraphColor');
    }
    font-size: 13px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right
}

.dropdownFilterSelector:hover {
    //box-shadow: 0 0 4px rgb(204, 204, 204)
}

.dropdownFilterSelector.active .selectFilterSelector i {
    transform: rotate(180deg)
}

.dropdownFilterSelector .dropdown-menuFilterSelector {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 1px;
    //box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 230px;
    overflow-y: hidden;
    z-index: 9
}

.dropdownFilterSelector .dropdown-menuFilterSelector li {
    padding: 8px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.dropdownFilterSelector .dropdown-menuFilterSelector {
    padding: 0;
    list-style: none
}

.dropdownFilterSelector .dropdown-menuFilterSelector li:hover {
    @include themify($themes) {
      background-color: themed('cardBackgroundColor');
    }
}

.dropdownFilterSelector .dropdown-menuFilterSelector li:active {
    @include themify($themes) {
      background-color: themed('cardBackgroundColor');
    }
}

i.fa.fa-chevron-down{
  position: relative;
  top: -18px;
  right: 5px;
}

@media screen and (max-width: 1200px) {
    .transactionId {
        font-size: 13px;
        font-weight: 600;
    }
    .transactionAddress{
        font-size: 13px;
        font-weight: 600;
    }
}

.small-text {
   font-size: 13px;
   font-weight: 400;
}

.small-header {
   font-size: 13px;
   font-weight: 600;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  width: 100%;
  height: 35px;
  /*background: #2b303b;*/
  border: none;
  font-size: 10pt;
  float: left;
  /*color: #878a90;*/
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*margin-top:6px;*/

   @include themify($themes) {
      color: themed('bodyParagraphColor');
    }


  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 9px;
  z-index: 1;
  color: #4f5b66;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
  outline:none;
 /* background: #ffffff;*/

   @include themify($themes) {
      color: themed('dropdownFilterSelector');
    }

}
