#sapphire-toasts {
  pointer-events: none;
  position: fixed;
  bottom: 10px;
  left: 10px;

  & > div {
	background-color: darkgreen;
	color: white;
	padding: 7px 14px;
	margin-top: 10px;
	max-width: 300px;
	font-size: 1em;
	pointer-events: all;

	& > .buttons {
	  display: flex;
	  justify-content: flex-end;
	}
  }
}
