#sapphire-toasts {
  pointer-events: none;
  position: fixed;
  top: 40px;
  right: 10px;
  z-index: 1051;

  /* Individual toasts */
  & > div {
	background-color: #368b46;
	border: 1px solid transparent;
	color: white;
	margin-top: 0px;
	padding: 0px 14px;
	max-width: 300px;
	width: auto;
	font-size: 0.9em;
	line-height: 1.2em;
	pointer-events: all;
	max-height: 0px;
	transition: max-height 0.75s ease, padding 0.75s ease, margin-bottom 0.25s ease, border-color 0.5s ease;
	overflow: hidden;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.4);

	h5 {
	  opacity: 0;
	  transition: opacity 0.5s ease;
	}

	&.show {
	  max-height: 300px;
	  padding: 7px 14px;
	  margin-bottom: 10px;
	  border-color: #369e59;

	  h5 {
		opacity: 1;
	  }
	}

	&.bg-red {
	  background-color: #b0000f;
	  border-color: #c4000f;
	}

	& > .buttons {
	  display: flex;
	  justify-content: flex-end;
	}
  }
}
