@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";

@import "styles/themes/themes.scss";
@import "./styles/Sidebar.scss";
@import "./styles/Modal.scss";
@import "./styles/Home.scss";
@import "./styles/Transactions.scss";
@import "./styles/Settings.scss";
@import "styles/FullscreenModal";
@import "./styles/initialSetup.scss";
@import "./styles/LanguageSelector.scss";
@import "./styles/ThemeSelector.scss";
@import "./styles/ImportWallet.scss";
@import "./styles/ImportPrivateKey.scss";
@import "./styles/EncryptWallet.scss";
@import "./styles/NetworkStats.scss";
@import "./styles/Contacts.scss";
@import "./styles/News.scss";
@import "./styles/Notifications.scss";
@import "./styles/TopBar.scss";
@import "./styles/Table.scss";
@import "./styles/ExportPrivateKeys.scss";
@import "./globals/Toast/Toast.scss";
@import "./styles/Radio.scss";
@import "./styles/Animations.scss";
@import "./styles/Messaging.scss";

@font-face {
  font-family: 'Muli';
  src: url('./fonts/Muli-SemiBold.ttf')  format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Muli';
  src: url('./fonts/Muli-Bold.ttf')  format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Muli';
  src: url('./fonts/Muli-Regular.ttf')  format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Muli';
  src: url('./fonts/Muli-Light.ttf')  format('truetype');
  font-weight: 300;
}

body {
  user-select: none;
  cursor: default;
  font-family: Muli, sans-serif;
  font-weight: 600;
}

a, .btn-link {
  @include themify($themes) {
	color: themed('hrefColor');
  }
}

#root {
  @include themify($themes) {
	background-color: themed('bodyBackgroundColor');
	color: themed('bodyParagraphColor');
  }
  transition: background-color 0.25s ease, color 0.25s ease;
}

p{
  margin: 0 0;
  padding: 0 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.flex-auto {
  flex: 1 1 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.ecc{
  @include themify($themes) {
    color: themed('eccTicker');
  }
}

.textSelected{
  @include themify($themes) {
    color: themed('textSelected');
  }
}

.EllipsisLoader {
  display: inline-block;
  padding-left: 2px;
}

.closingApplication{
  min-width: 400px !important;
  margin-left: -190px !important;
  font-weight: 500;
}

.closingApplication p{
  margin: 30px 0px;
  display: inline-block;
}

#miniAnimation{
  display: inline-block;
}

.mainSubPanel{
  padding-left: 224px;
  padding-right: 0;
  height: 100vh;
  overflow-y: auto;
  transition: padding-left 0.3s;
  z-index: 0;
  padding-top: 40px;
}

.inputDiv{
  position: relative;
  margin: 0 auto;
  width: 100%;

  & p{
	width: 100%;
    font-weight: bold;
    font-size: 15px;
    top: 5px;
    text-align: center;
    transition: all 0.2s;
    position: absolute;
  }

  & input{
	font-size: 1.1em;
	background-color: transparent;
    border: none;
    text-align: center;
    position: relative;
    transition: border-bottom .3s;
    width: 100%;
  }

  &--is-left{
  	margin: 0px 0px;

  	& p{
	    text-align: left;
  	}
  	& input{
  		text-align: left;
  	}
  }

  &--is-active{
  	& p{
	    font-size: 13px;
	    top: -14px;
	    transition: all 0.1s;
  	}
  }
}

.inputCustomHighlight{
}

.popupTitle{
  @include themify($themes) {
    color: themed('bodyParagraphColor');
  }
  font-size: 18px;
  padding-top: 20px;
}

.buttonUnlock{
  position: absolute;
  height: 36px;
  width: 125px;
  border-radius: 14px;
  font-size: 12px;
  line-height: 37px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.buttonPrimary {
  padding: 0px 30px;
  border-radius: 14px;
  font-size: 12px;
  line-height: 34px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: max-content;
  margin: 0 auto;


  &--is-popup-btn{
  	position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 10px;
  }
}

.normalWeight{
  font-weight: normal;
}

.selectableText{
  user-select: text;
  cursor: text;
}

/* Dot */
.dot {
  margin: auto 10px;
  display: inline-block;
  border-radius: 100%;
}

/* Gradients */
.bg-gradient-blue {
  background: linear-gradient(75deg, #0488E9, #0BA5EE);
}

.bg-gradient-light-blue {
  background: linear-gradient(75deg, #08C9EA, #16CCC8);
}

.bg-gradient-purple {
  background: linear-gradient(75deg, #8e069d, #5E0BED);
}

.bg-gradient-deep-purple {
  background: linear-gradient(75deg, #570069, #5E00ED);
}

.bg-gradient-orange {
  background: linear-gradient(75deg, #FD6F55, #FDA73A);
}

.bg-gradient-green {
  background: linear-gradient(75deg, #9ECD5D, #6AB422);
}

.bg-gradient-red {
  background: linear-gradient(75deg, #FF5055, #FF776D);
}

@keyframes blue-pulse
{
   0% {
        box-shadow: 0 0 0 0px rgba(100, 100, 100, 0.5);
   }
   100% {
        box-shadow: 0 0 0 15px rgba(100, 100, 100, 0);
   }
}

@keyframes orange-pulse
{
   0% {
        box-shadow: 0 0 0 0px rgba(150, 150, 20, 0.5);
   }
   100% {
        box-shadow: 0 0 0 15px rgba(150, 180, 20, 0);
   }
}

/* Standout cards */
.standout {
  &.bg-gradient-blue {
	/*box-shadow: 0px 25px 40px -15px transparentize(#0488E9, 0.5);*/
  /*box-shadow: 3px 3px 11px -5px transparentize(#0488E9, 0.1);*/
  /*animation: blue-pulse 1s 2;*/
  }

  &.bg-gradient-light-blue {
	/*box-shadow: 0px 25px 40px -15px transparentize(#08C9EA, 0.5);*/
  }

  &.bg-gradient-purple {
	/*box-shadow: 0px 25px 40px -15px transparentize(#5E0BED, 0.5);*/
  }

  &.bg-gradient-deep-purple {
	/*box-shadow: 0px 25px 40px -15px transparentize(#5E00ED, 0.5);*/
  }

  &.bg-gradient-orange {
	/*box-shadow: 0px 25px 40px -15px transparentize(#FDA73A, 0.5);*/
  /*box-shadow: 6px 6px 11px -5px transparentize(#FDA73A, 0.2);*/
  animation: orange-pulse 1s 3;
  }

  &.bg-gradient-green {
	/*box-shadow: 0px 25px 40px -15px transparentize(#6AB422, 0.5);*/
  }

  &.bg-gradient-red {
	/*box-shadow: 0px 25px 40px -15px transparentize(#FF5055, 0.5);*/
  }
}

.card-columns .standout {
  margin-bottom: 1.25rem;
}


/* Style fixes */
.btn.disabled, .btn:disabled {
	opacity: 0.2;
}

.bg-dark {
  @include themify($themes) {
	background-color: themed('bodyBackgroundColor') !important;
  }
}


/* Main page components */
.header {
  padding:0px 0px 20px 0px;
  margin: 0 40px 30px 40px;
  border-bottom:1px solid rgba(255,255,255,0.05);
  position: relative;
  z-index: 1;

  &.no-margin-bottom {
	margin-bottom: 0px;
  }

  .title {
	font-size: 30px;
  }

  svg {
	position:relative;
	top:-2px;
	margin-right: 10px;
  }

  &:after {
	content: '';
	position: absolute;
	height: 80px;
	top:calc(100% + 1px);
	right:0;
	left:0;
	pointer-events: none;
	@include themify($themes) {
	  background: themed('headerRadialBackground');
	}
  }
}

.body {
  position: relative;
  z-index: 2;
  padding: 20px 40px 40px 40px;
  flex: 1 1 auto;

  &.no-padding {
	padding: 0;
  }

  &.scrollable {
	overflow: auto;
  }
}

#mainPageWrapper {
  position: relative;

  & > div:first-child {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: auto;
  }
}

.padding-titlebar {
  padding-top: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
