@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-material-design/dist/css/bootstrap-material-design.css";
@import "~bootstrap-material-design/dist/css/ripples.min.css";
@import url("https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900");
@import "./styles/Sidebar.css";
@import "./styles/About.css";
@import "./styles/Security.css";
@import "./styles/Home.css";
@import "./styles/Receive.css";
@import "./styles/Send.css";
@import "./styles/Transactions.css";
@import "./styles/Settings.css";
@import "./styles/Config.css";
@import "./styles/Downloads.css";
@import "./styles/Loading.css";
@import "./styles/InitialSetup.css";
@import "./styles/LanguageSelector.css";
@import "./styles/ThemeSelector.css";
@import "./styles/ImportWallet.css";
@import "./styles/ImportPrivateKey.css";
@import "./styles/EncryptWallet.css";
@import "./styles/UnlockWallet.css";
@import "./styles/NetworkStats.css";

html,
body {
  font-family: Muli, sans-serif;
  background-color: #181e35;
  /*background-image: -webkit-radial-gradient(top, circle cover, #24232f 0%, #181e35 80%);
  background-image: -moz-radial-gradient(top, circle cover, #24232f 0%, #181e35 80%);
  background-image: -o-radial-gradient(top, circle cover, #24232f 0%, #181e35 80%);
  background-image: radial-gradient(top, circle cover, #24232f 0%, #181e35 80%);
  height: 100%;*/
  color: #b4b7c8;
  font-size: 17px;
  overflow: hidden;
  font-weight: 600;
}

*:focus {
  outline: none !important;
  border-color: inherit;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

p{
  margin: 0 0;
  padding: 0 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#topBar{
  width: 100%;
  height: 40px;
  background-color: #14182f;
  position: fixed;
  top: 1px;
  left: 1px;
  right: 1px;
  -webkit-app-region:drag;
}
#wrapperToBeAbleToResize{
  height: 40px;
  background-color: #14182f;
  position: fixed;
  width: 100%;
  z-index: 101;
}

.tableHeader{
  font-weight: normal;
  font-size: 23px;
}

.normalWeight{
  font-weight: normal;
}

.miniButton{
  width: 10px;
  position: fixed;
  top: 5px;
  left: -10px;
  transition: left 0.3s;
  cursor: pointer;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

#appButtons img{
  display: block;
  margin: 0 auto;
  position: relative;
  top: 14px;
}

#appButtons{
  position: fixed;
  right: 0px;
  z-index: 2;
  height: 40px;
  top: 0px;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

.appButton{
  display: inline-block;
  width: 42px;
  height: 100%;
  cursor: pointer;
}

.appButtonHover{
  background-color: #b4b7c8;
}

.appButtonClose:hover{
  background-color: red;
}
.my_wrapper {
  padding-left: 224px;
  padding-top: 40px;
  padding-right: 0;
  height: 100vh;
  overflow-y: scroll;
  transition: padding-left 0.3s;
  z-index: 0;
}

.splash-image-container {
  z-index: 1000;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s linear, z-index 1.5s ease-in;
}

.splash-image {
  width: 20%;
  max-width: 300px;
}

.splash-image-container.-disappear {
  opacity: 0;
  z-index: -1000;
}

.snack {
  position: fixed;
  bottom: -50px;
  left: 200px;
  right: 0;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  text-align: center;
}

.mancha {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100vh;
  z-index: 11;
  display: none;
  opacity: 0;
}

.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 400px;
  padding: 20px 20px 5px;
  transform: translate(-50%,-50%);
}

.dialog .header {
  border-bottom: 1px solid #a1be5a;
}

.dialog .header .title {
  font-size: 1.3em;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.dialog .body {
  padding-top: 25px;
}

.dialog .body .desc {
  font-size: 1em;
  color: #000 !important;
}

.dialog .body .desc2 {
  font-size: 1em;
  color: #bdbdbd !important;
}

.dialog .footer {
  text-align: center;
  padding-top: 15px;
}

.dialog .footer .button {
  display: inline-block;
  width: 100px;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.dialog .footer .btn_cancel {
  background-color: #bdbdbd;
}

.dialog .footer .btn_confirm {
  background-color: #a1be5a;
}

.dialog .inpuText {
  font-size: 1em !important;
}

.dialog .inpuText::-webkit-input-placeholder {
  font-size: 1em !important;
}

.fade-enter{
  opacity: 0 !important;
}

.fade-enter-active{
  opacity: 1 !important;
  transition: .5s ease-in all !important;
}

.fade-leave{
  right:0px;
}

.fade-leave-active{
  right:-100px;
  transition: .5s ease-out all;
}