@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~twemoji-awesome/dist/twemoji-awesome.min.css";
@import "./styles/Sidebar.scss";
@import "./styles/Home.scss";
@import "./styles/Transactions.scss";
@import "./styles/Settings.scss";
@import "./styles/Loading.scss";
@import "./styles/initialSetup.scss";
@import "./styles/LanguageSelector.scss";
@import "./styles/ThemeSelector.css";
@import "./styles/ImportWallet.scss";
@import "./styles/ImportPrivateKey.scss";
@import "./styles/EncryptWallet.scss";
@import "./styles/NetworkStats.scss";
@import "./styles/Contacts.scss";
@import "./styles/News.scss";
@import "./styles/Notifications.scss";
@import "./styles/TopBar.scss";
@import "./styles/Table.scss";
@import "./styles/ExportPrivateKeys.scss";
@import "./styles/Messaging.scss";
@import "./styles/FileStorage.scss";
@import "./styles/themes.scss";
@import "./globals/Toast/Toast.scss";
@import "./styles/Radio.scss";
@import "./styles/Animations.scss";

@font-face {
  font-family: 'Muli';
  src: url('./fonts/Muli-SemiBold.ttf')  format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Muli';
  src: url('./fonts/Muli-Bold.ttf')  format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Muli';
  src: url('./fonts/Muli-Regular.ttf')  format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Muli';
  src: url('./fonts/Muli-Light.ttf')  format('truetype');
  font-weight: 300;
}

html,

*:focus {
  outline: none !important;
  border-color: inherit;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

p{
  margin: 0 0;
  padding: 0 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

article{
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0px;
}

aside{
  position: fixed;
  z-index: 100;
  text-align: center;
}

#main{
  @include themify($themes) {
    background: themed('bodyBackgroundColor');
    background-color: themed('bodyBackgroundColor');
    color: themed('bodyParagraphColor'); ;
  }
  width: 100%;
  height: 100vh;
  font-family: Muli, sans-serif;
  overflow: hidden;
  font-weight: 600;

  /* Disables text selection globally so it doesn't feel like a web page. Enable text for copying with selectableText style class */
  user-select: none;
  cursor: default;
}

.ecc{
  @include themify($themes) {
    color: themed('eccTicker');
  }
}

.textSelectable{
  @include themify($themes) {
    color: themed('tableHeaderDescription');
  }
}

.textSelected{
  @include themify($themes) {
    color: themed('textSelected');
  }
}

#settings{
  top: 40px;
  width: 100%;
}

.EllipsisLoader{
	display: inline-block;
  padding-left: 2px;
}

.changePassword{
  height: 305px;
}

.genericPanel{
  position: fixed;
  top: 0px;
  width: 100%;
}

.closingApplication{
  min-width: 400px !important;
  margin-left: -190px !important;
  font-weight: 500;
}

.closingApplication p{
  margin: 30px 0px;
  display: inline-block;
}

#miniAnimation{
  display: inline-block;
}

.mainSubPanel{
  padding-left: 224px;
  padding-right: 0;
  height: 100vh;
  overflow-y: auto;
  transition: padding-left 0.3s;
  z-index: 0;
  padding-top: 40px;
}


.panel{
  height: 100%;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  overflow-x: hidden;
}

.inputDiv{
  position: relative;
  margin: 0 auto;
  width: 100%;

  & p{
	  @include themify($themes) {
	    color: themed('inputPlaceHolderColor');
	  }
		width: 100%;
    font-weight: bold;
    font-size: 15px;
    top: 5px;
    text-align: center;
    transition: all 0.2s;
    position: absolute;
  }

  & input{
	@include themify($themes) {
	  color: themed('inputColor');
	  border-bottom: themed('inputBorderBottom');
	}
	font-size: 1.1em;
	background-color: transparent;
    border: none;
    text-align: center;
    position: relative;
    transition: border-bottom .3s;
    width: 100%;
  }

  &--is-left{
  	margin: 0px 0px;

  	& p{
	    text-align: left;
  	}
  	& input{
  		text-align: left;
  	}
  }

  &--is-active{
  	& p{
	    font-size: 13px;
	    top: -14px;
	    transition: all 0.1s;
  	}
  }
}

.inputCustomHighlight{
  @include themify($themes) {
    border-bottom: themed('inputBorderBottomHighlight') !important;
  }
}

.popupTitle{
  @include themify($themes) {
    color: themed('bodyParagraphColor');
    font-weight: themed('popupTitleFontWeight');
  }
  font-size: 18px;
  padding-top: 20px;
}

.buttonUnlock{
  @include themify($themes) {
    background: themed('fullButtonBackground');
    color: themed('fullButtonColor');
  }
  position: absolute;
  height: 36px;
  width: 125px;
  border-radius: 14px;
  font-size: 12px;
  line-height: 37px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.buttonPrimary {
  @include themify($themes) {
    border: themed('buttonBorder');
  }
  padding: 0px 30px;
  border-radius: 14px;
  font-size: 12px;
  line-height: 34px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  width: max-content;
  margin: 0 auto;


  &--is-popup-btn{
  	position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 10px;
  }
}

.buttonPrimary:hover {
  @include themify($themes) {
    background-color: themed('buttonBorderedHoverColor');
    color: themed('buttonBorderedFontColor');
  }
}

#unlockPanel{
  @include themify($themes) {
    background-color: themed('popupBackgroundColor');
    //box-shadow: themed('popupBoxShadow');
  }
  min-width: 535px;
  z-index: 100;
  position: fixed;
  top:30%;
  left: 50%;
  margin-left: -267px;
  border-radius: 4px;
  overflow: hidden;
}

.closeButtonPopup{
  @include themify($themes) {
    border: themed('popupCloseButtonBorder');
  }
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  text-align: center;
}

.closeButtonPopup:hover{
  @include themify($themes) {
    background-color: themed('popupCloseButtonHoverBackgroundColor');
  }
}

.closeButtonPopup span{
  top: -1px;
  position: relative;
}

.normalWeight{
  font-weight: normal;
}

.selectableText{
  user-select: text;
  cursor: text;
}

.mancha {
  @include themify($themes) {
    background-color: themed('manchaBackgroundColor');
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 11;
  display: none;
  opacity: 0;
}

@import "./styles/Send.scss";
@import "./styles/UnlockWallet.scss";
@import "./styles/Receive.scss";
@import "./styles/CreateAddressPopup.scss";
